Repository harman64/frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{html,css,scss}": [
    "prettier --write",
    "git add"
  ]
}

build: setup webpack with css
  package-lock.json
  package.json
  slider/index.css
  slider/index.html
  slider/index.js
  slider/webpack.config.js
Due: prettier --write, eslint --fix

build: setup webpack with scss
  package-lock.json
  package.json
  slider/index.js
  slider/index.scss
  slider/webpack.config.js
Due: prettier --write, eslint --fix

feat!: sliding animation on mouse and touch events
  .prettierrc
  slider/index.css
  slider/index.html
  slider/index.js
  slider/index.scss
Due: prettier --write, eslint --fix

chore: changing transition animation
  slider/index.scss
Due: prettier --write

ci: replaced airbnb by airbnb-base
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat!: ui design of 3 slides added
  slider/index.html
  slider/index.scss
  slider/mixins.scss
  slider/placeholders.scss
Due: prettier --write

chore: removed user select on text fields
  slider/index.scss
Due: prettier --write

ci: eslint updates
  .eslintrc.js
Due: prettier --write, eslint --fix

refactor: lint fixes
  slider/index.js
  slider/utils.js
Due: prettier --write, eslint --fix

chore: begining of puzzle problem
  package.json
  puzzle/webpack.config.js
Due: prettier --write, eslint --fix

style: puzzle design
  puzzle/index.js
  puzzle/index.scss
  puzzle/placeholders.scss
Due: prettier --write, eslint --fix

feat!: grid initialization: function to shuffle and drawGrid
  .eslintrc.js
  puzzle/index.js
  puzzle/utils.js
Due: prettier --write, eslint --fix

feat: set Clickable attribute for cells adjacent to empty cell
  puzzle/index.js
Due: prettier --write, eslint --fix

feat: logic to handle click of tiles
  puzzle/index.js
Due: prettier --write, eslint --fix

feat: check user solution in each click to see if user won
  puzzle/index.js
Due: prettier --write, eslint --fix

style: cursor pointers
  puzzle/index.js
  slider/index.js
Due: prettier --write, eslint --fix

chore: expose shuffle function for puzzle
  puzzle/index.js
Due: prettier --write, eslint --fix

docs: update README
  README.md
Due: none

chore: set viewport for puzzle
  .babelrc
  .gitignore
  puzzle/index.html
Due: prettier --write
